[user]
	name = Greg Denys
	email = gregory.g.denys@gmail.com
[core]
	excludesfile = ~/.gitignore_global
    editor = nvim
[pull]
	ff = only
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[init]
	defaultBranch = main